nav{
  width:100vw;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  background-color: darkgreen;
}

li{
  width:30vw;
  display:inline-block;
  text-align:center;
}

a{
  display:block;
  text-decoration:none;
  font-size:3vh;
  font-family:"Courier New", Courier, monospace;
  color:lightgreen;
  padding:8px 16px;
}

a:hover{
  background-color:#008a1c;
  color:white;
}

h2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:3vh;
}

p{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size:2vh;
}